POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=claims_db
JWT_SECRET=change_me_to_a_long_random_string_in_production
JWT_EXPIRES_IN=8h
PORT=3002
NODE_ENV=development
